<a href="https://colab.research.google.com/github/nhduy-bbean/MIS-301/blob/main/MIS301_Project1_GroupA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Group Project #1: Shopping Smart (Dataset 01)**

In [1]:
# Import Pandas
import pandas as pd

In [2]:
# Read data file
df = pd.read_csv("https://raw.githubusercontent.com/nhduy-bbean/MIS-301/refs/heads/main/01_Shopping_Smart_Dataset.csv")
df

                item  supermarket_A  supermarket_B  supermarket_C
0               Milk          25795          30612          29899
1               Eggs          10860           6277          17289
2               Rice          86820          90126          90865
3        Cooking Oil          64886          68694          63914
4    Instant Noodles          16265          15239          16591
..               ...            ...            ...            ...
495         Mushroom          13373          13746          20292
496            Apple          22161          19404          18971
497           Banana          37350          34995          37556
498           Orange          35351          34963          37356
499           Grapes          98668          95533         103984

[500 rows x 4 columns]

## ***Basic Exploration***

### 1.How many items are listed in the dataset?

In [3]:
# The number of items that are listed in the dataset
print("The number of items that are listed in the dataset is:")
len(df["item"])

The number of items that are listed in the dataset is:

500

### 2.Use .info() to check column types and if there are any missing values.

In [4]:
# Check column types and if there are any missing values
df.info()
# There is no missing value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item           500 non-null    object
 1   supermarket_A  500 non-null    int64
 2   supermarket_B  500 non-null    int64
 3   supermarket_C  500 non-null    int64
dtypes: int64(3), object(1)
memory usage: 15.8+ KB

### 3.What is the average price in each supermarket?

In [5]:
# The average price in each supermarket
three_supermarkets = df[["supermarket_A", "supermarket_B", "supermarket_C"]]
avg_price_each_market = three_supermarkets.mean()
avg_price_each_market

supermarket_A    55825.006
supermarket_B    55811.716
supermarket_C    55898.456
dtype: float64

### 4.What’s the overall average price per item (across 3 supermarkets)?

In [6]:
# The overall average price per item (across 3 supermarkets)
avg_price_per_item = three_supermarkets.mean(axis = 1)
df["avg_price_per_item"] = avg_price_per_item
df

,item,supermarket_A,supermarket_B,supermarket_C,avg_price_per_item
0,Milk,25795,30612,29899,28768.666667
1,Eggs,10860,6277,17289,11475.333333
2,Rice,86820,90126,90865,89270.333333
3,Cooking Oil,64886,68694,63914,65831.333333
4,Instant Noodles,16265,15239,16591,16031.666667
...,...,...,...,...,...
495,Mushroom,13373,13746,20292,15803.666667
496,Apple,22161,19404,18971,20178.666667
497,Banana,37350,34995,37556,36633.666667
498,Orange,35351,34963,37356,35890.000000
499,Grapes,98668,95533,103984,99395.000000

### 5.What is the min, max, and range (max - min) price for each item?

In [7]:
# Min, max, and range (max - min) price for each item
df["min_price_per_item"] = three_supermarkets.min(axis = 1)
df["max_price_per_item"] = three_supermarkets.max(axis = 1)
df["range_price_per_item"] = df["max_price_per_item"] - df["min_price_per_item"]
df

,item,supermarket_A,supermarket_B,supermarket_C,avg_price_per_item,min_price_per_item,max_price_per_item,range_price_per_item
0,Milk,25795,30612,29899,28768.666667,25795,30612,4817
1,Eggs,10860,6277,17289,11475.333333,6277,17289,11012
2,Rice,86820,90126,90865,89270.333333,86820,90865,4045
3,Cooking Oil,64886,68694,63914,65831.333333,63914,68694,4780
4,Instant Noodles,16265,15239,16591,16031.666667,15239,16591,1352
...,...,...,...,...,...,...,...,...
495,Mushroom,13373,13746,20292,15803.666667,13373,20292,6919
496,Apple,22161,19404,18971,20178.666667,18971,22161,3190
497,Banana,37350,34995,37556,36633.666667,34995,37556,2561
498,Orange,35351,34963,37356,35890.000000,34963,37356,2393
499,Grapes,98668,95533,103984,99395.000000,95533,103984,8451

## ***Comparison & Logic***

### 6.Which supermarket offers the lowest average price across all items?

We will use the function idminx() on the variable avg_price_each_market the row label of the lowest value

In [8]:
lowest_avg_price_supermarket = avg_price_each_market.idxmin()
print(lowest_avg_price_supermarket)

supermarket_B

### 7.Create a new column cheapest_store that identifies the lowest priced store for each item.

.idxmin(axis = 1) means it will goes through the small dataframe of three_supermarkets (which only includes value of 3 markets' prices) and will find the label of which the data has the smallest value. and "axis = 1" means it will goes through every column of each row, which will find the market with the cheapest price.

In [9]:
df["cheapest_store"] = three_supermarkets.idxmin(axis = 1)
df

,item,supermarket_A,supermarket_B,supermarket_C,avg_price_per_item,min_price_per_item,max_price_per_item,range_price_per_item,cheapest_store
0,Milk,25795,30612,29899,28768.666667,25795,30612,4817,supermarket_A
1,Eggs,10860,6277,17289,11475.333333,6277,17289,11012,supermarket_B
2,Rice,86820,90126,90865,89270.333333,86820,90865,4045,supermarket_A
3,Cooking Oil,64886,68694,63914,65831.333333,63914,68694,4780,supermarket_C
4,Instant Noodles,16265,15239,16591,16031.666667,15239,16591,1352,supermarket_B
...,...,...,...,...,...,...,...,...,...
495,Mushroom,13373,13746,20292,15803.666667,13373,20292,6919,supermarket_A
496,Apple,22161,19404,18971,20178.666667,18971,22161,3190,supermarket_C
497,Banana,37350,34995,37556,36633.666667,34995,37556,2561,supermarket_B
498,Orange,35351,34963,37356,35890.000000,34963,37356,2393,supermarket_B
499,Grapes,98668,95533,103984,99395.000000,95533,103984,8451,supermarket_B

### 8.Count how many times each supermarket is the cheapest.

The function value_counts() will return the number of frequencies in which the value occur.

In [10]:
cheapest_counts = df["cheapest_store"].value_counts()
print(cheapest_counts)

cheapest_store
supermarket_C    198
supermarket_B    174
supermarket_A    128
Name: count, dtype: int64

### 9.Which item has the largest price difference among the three supermarkets?

With idxmax(), we can find the index of the data with the highest "range price per item". And then we will need to use loc[] to locate and gives information on that specific row.

In [11]:
largest_difference_item = df.loc[df["range_price_per_item"].idxmax()]
print(largest_difference_item)

item                       Soft Drink
supermarket_A                   12368
supermarket_B                   16872
supermarket_C                    5428
avg_price_per_item            11556.0
min_price_per_item               5428
max_price_per_item              16872
range_price_per_item            11444
cheapest_store          supermarket_C
Name: 371, dtype: object

### 10.How many items have a price difference greater than 10,000 VND?

I will create a smaller dataframe that only includes data with the values in column "range_price_per_item" over 10000VND. And finally use len() to find how many items there are in that data frame.

In [12]:
items_greater_than_10000 = df[df["range_price_per_item"] > 10000]
number_of_items_with_large_difference = len(items_greater_than_10000)
print(number_of_items_with_large_difference)

13

## ***Control Flows & Functions***

### 11.Write a function that returns "Expensive" if the item’s average price is over 80,000 VND.

In [13]:
# Returns "Expensive" if the item's average price is over 80,000 VND
def check_price(price):
  if price > 80000:
    return "Expensive"
  else:
    return "Not Expensive"

### 12.Apply this function to create a column price_tag. How many items are marked "Expensive"?

In [14]:
# Create a column price_tag
df["price_tag"] = df["avg_price_per_item"].apply(check_price)
df

,item,supermarket_A,supermarket_B,supermarket_C,avg_price_per_item,min_price_per_item,max_price_per_item,range_price_per_item,cheapest_store,price_tag
0,Milk,25795,30612,29899,28768.666667,25795,30612,4817,supermarket_A,Not Expensive
1,Eggs,10860,6277,17289,11475.333333,6277,17289,11012,supermarket_B,Not Expensive
2,Rice,86820,90126,90865,89270.333333,86820,90865,4045,supermarket_A,Expensive
3,Cooking Oil,64886,68694,63914,65831.333333,63914,68694,4780,supermarket_C,Not Expensive
4,Instant Noodles,16265,15239,16591,16031.666667,15239,16591,1352,supermarket_B,Not Expensive
...,...,...,...,...,...,...,...,...,...,...
495,Mushroom,13373,13746,20292,15803.666667,13373,20292,6919,supermarket_A,Not Expensive
496,Apple,22161,19404,18971,20178.666667,18971,22161,3190,supermarket_C,Not Expensive
497,Banana,37350,34995,37556,36633.666667,34995,37556,2561,supermarket_B,Not Expensive
498,Orange,35351,34963,37356,35890.000000,34963,37356,2393,supermarket_B,Not Expensive
499,Grapes,98668,95533,103984,99395.000000,95533,103984,8451,supermarket_B,Expensive

In [15]:
# Number of items are marked "Expensive"
df["price_tag"].value_counts()
# There are 113 items marked "Expensive"

price_tag
Not Expensive    387
Expensive        113
Name: count, dtype: int64

### 13.Create a new column value_store that returns:
- 'A' if Supermarket A has the lowest price
- 'B' if B is lowest
- 'C' if C is lowest
Use if-elif-else logic.

Uses comparison to check for each row, if a row of an item == the row of the lowest item, then it returns the corresponding store name.

In [16]:
def get_value_store(row):
  if row["supermarket_A"] == row[["supermarket_A", "supermarket_B", "supermarket_C"]].min():
    return 'A'
  elif row["supermarket_B"] == row[["supermarket_A", "supermarket_B", "supermarket_C"]].min():
    return 'B'
  else:
    return 'C'

df["value_store"] = df.apply(get_value_store, axis=1)
df

,item,supermarket_A,supermarket_B,supermarket_C,avg_price_per_item,min_price_per_item,max_price_per_item,range_price_per_item,cheapest_store,price_tag,value_store
0,Milk,25795,30612,29899,28768.666667,25795,30612,4817,supermarket_A,Not Expensive,A
1,Eggs,10860,6277,17289,11475.333333,6277,17289,11012,supermarket_B,Not Expensive,B
2,Rice,86820,90126,90865,89270.333333,86820,90865,4045,supermarket_A,Expensive,A
3,Cooking Oil,64886,68694,63914,65831.333333,63914,68694,4780,supermarket_C,Not Expensive,C
4,Instant Noodles,16265,15239,16591,16031.666667,15239,16591,1352,supermarket_B,Not Expensive,B
...,...,...,...,...,...,...,...,...,...,...,...
495,Mushroom,13373,13746,20292,15803.666667,13373,20292,6919,supermarket_A,Not Expensive,A
496,Apple,22161,19404,18971,20178.666667,18971,22161,3190,supermarket_C,Not Expensive,C
497,Banana,37350,34995,37556,36633.666667,34995,37556,2561,supermarket_B,Not Expensive,B
498,Orange,35351,34963,37356,35890.000000,34963,37356,2393,supermarket_B,Not Expensive,B
499,Grapes,98668,95533,103984,99395.000000,95533,103984,8451,supermarket_B,Expensive,B

### 14.Write a function compare_prices(item_row) that prints the price difference between the highest and lowest store for that item.

We first will need to get prices of that argument from the 3 supermarkets, and use .max() and min() to find the largest and smallest price of the item needed in the argument to subtract them to find the range.

In [17]:
def compare_prices(item_row):
  prices = item_row[["supermarket_A", "supermarket_B", "supermarket_C"]]
  price_difference = prices.max() - prices.min()
  print(item_row['item'],":",price_difference,"VND")

I will demonstrate the function on index 2 using .iloc[]

In [18]:
compare_prices(df.iloc[2])

df.head()

Rice : 4045 VND

,item,supermarket_A,supermarket_B,supermarket_C,avg_price_per_item,min_price_per_item,max_price_per_item,range_price_per_item,cheapest_store,price_tag,value_store
0,Milk,25795,30612,29899,28768.666667,25795,30612,4817,supermarket_A,Not Expensive,A
1,Eggs,10860,6277,17289,11475.333333,6277,17289,11012,supermarket_B,Not Expensive,B
2,Rice,86820,90126,90865,89270.333333,86820,90865,4045,supermarket_A,Expensive,A
3,Cooking Oil,64886,68694,63914,65831.333333,63914,68694,4780,supermarket_C,Not Expensive,C
4,Instant Noodles,16265,15239,16591,16031.666667,15239,16591,1352,supermarket_B,Not Expensive,B

### 15.Use a loop to apply that function to the first 5 items in the dataset.

i means index of the data, row is the variable that temporarily holds data during the loop.

In [19]:
for i, row in df.head(5).iterrows():
  compare_prices(row)

Milk : 4817 VND
Eggs : 11012 VND
Rice : 4045 VND
Cooking Oil : 4780 VND
Instant Noodles : 1352 VND

.iterrows() means the process of getting data in every row repeatedly and moving to the next one in a loop (iterate rows). I will now show you the values of the iterrows:

In [20]:
for i, row in df.head(5).iterrows():
  print(row)

item                             Milk
supermarket_A                   25795
supermarket_B                   30612
supermarket_C                   29899
avg_price_per_item       28768.666667
min_price_per_item              25795
max_price_per_item              30612
range_price_per_item             4817
cheapest_store          supermarket_A
price_tag               Not Expensive
value_store                         A
Name: 0, dtype: object
item                             Eggs
supermarket_A                   10860
supermarket_B                    6277
supermarket_C                   17289
avg_price_per_item       11475.333333
min_price_per_item               6277
max_price_per_item              17289
range_price_per_item            11012
cheapest_store          supermarket_B
price_tag               Not Expensive
value_store                         B
Name: 1, dtype: object
item                             Rice
supermarket_A                   86820
supermarket_B                   90126
supermarket_C                   90865
avg_price_per_item       89270.333333
min_price_per_item              86820
max_price_per_item              90865
range_price_per_item             4045
cheapest_store          supermarket_A
price_tag                   Expensive
value_store                         A
Name: 2, dtype: object
item                      Cooking Oil
supermarket_A                   64886
supermarket_B                   68694
supermarket_C                   63914
avg_price_per_item       65831.333333
min_price_per_item              63914
max_price_per_item              68694
range_price_per_item             4780
cheapest_store          supermarket_C
price_tag               Not Expensive
value_store                         C
Name: 3, dtype: object
item                    Instant Noodles
supermarket_A                     16265
supermarket_B                     15239
supermarket_C                     16591
avg_price_per_item         16031.666667
min_price_per_item                15239
max_price_per_item                16591
range_price_per_item               1352
cheapest_store            supermarket_B
price_tag                 Not Expensive
value_store                           B
Name: 4, dtype: object